$bcg-color: #f0eef2;
$form-accent: #ef4b74;
$footer-bcg: #a4a2a6;
$font-fml: 'Quantico';

.font-quantico {
  font-family: $font-fml;
}

.App {
  text-align: center;
}

.App-logo {
  height: 99px;
  margin-left: 5%;
}

.App-header {
  background-image: url('./Pictures/bg@1X.png');
  height: 130px;
  padding: 20px 0px 20px 0px;
  color: white;
  display: inline-grid;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: normal;
  src:  
  url('./Fonts/quantico-regular-webfont.woff2') format('woff2'),
  url('./Fonts/quantico-regular-webfont.woff') format('woff')
  
}

.menu-bar {  
  font-size: x-large;
  text-align: right;
  margin-right: 115px;
  
  a {
    cursor: pointer;
  }

  .dd-menu {
    display: inline-block;
  }
}

body {
  font-family: $font-fml;
  background-color: $bcg-color;
}

.container {
   $block-height: 568px;

  margin-top: 30px;
  margin-bottom: 30px;

  .article-block {
    @media (min-width: 980px){
      width: 65%;
    }
    background: white;
    margin-right: 3%;
    margin-bottom: 22px;

    .article-inner-block{
      text-align: left;
      margin-right: 18px;
      margin-left: 18px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  
  .form-block {
    @media (min-width: 980px){      
    width: 30%;
    }
    height: $block-height;
    margin-bottom: 22px;
    display: grid;

    .form-block-text {
      height: 30%;
    }
  }
  
}

.descriptions{
  background-image: url('./Pictures/description bcg.png');
  width: 100%;
  display: flex;
  
  .descriptions-wrapper {
    margin: auto;
  }

.descriptions-block {
  @media (min-width: 630px){
    margin: 20px 25px 39px 19px;
    width: 335px;
    height: 101px;
  }
  display: inline-block;
}
}

.row {
  display: flex;
  max-width: 1400px;
  margin: auto;
}

.input-box {
  border-style: solid;
  border-radius: 8px;
  border-color: red;
  height: 360px;
  color: $form-accent;
  text-align: left;

  span {
    display: inline-table;
  }

  .input-base {
    @extend .font-quantico;
    width: 100%;
    border-radius: 4px;
    display: grid;
  }

  input {
    @extend .input-base;
    height: 25px;
  }
  .input {
    margin: auto;
    width: 80%;
  }
  textarea {
    @extend .input-base;
    height: 70px;
    margin-bottom: 15px;
  }

  button {
    @extend .input;
    @extend .input-base;
    height: 100%;
    color: white;
    background-color: $form-accent;
    border-radius: 8px;
    border-style: none;
    font-size: larger;
    cursor: pointer;
  }

  .input-wrapper {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.footer {
  background: $footer-bcg;
  display: flow-root;

  @media (min-width: 2000px) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .footer-menu-bar {
    @media (min-width: 630px){      
    width: 500px;
    }
    height: 15px;
    color: white;
    text-align: left;
  }

  .footer-content {
    margin: 2% 9% 2% 9%;

    a {
      cursor: pointer;
      margin-right: 10px;
    }
  }  

  .footer-text-block {
    @media (min-width: 630px) {      
    text-align: left;
    margin-top: 20px;
    }
  }
}

.error {
  color: red;
  visibility: visible;
}

.invisible-error {
  visibility: hidden;
}

@media (max-width: 1600px) {
  .row {
    margin-right: 9%;
    margin-left: 9%;    
  }
}

@media (max-width: 980px) {
  .row {
    display: inline-block;
    margin-right: 9%;
    margin-left: 9%;    
  }
  
  .article-block {
    width: 100%;
  }

  .menu-bar{
    margin: auto;
  }
}

.menu-item {  
  margin-right: 40px;
}

@media (max-width: 630px) {
  .menu-bar {
    display: none;
  }
  .App-logo {
    margin: auto;
  }

  .footer-menu-bar {
    display: grid;
  }

  .footer-content {
    display: flex;
  }

  .footer-text-block {
    text-align: right;
    width: 50%;
  }

  .footer-menu-bar {
    width: 50%;
  }

  .descriptions-block {
    margin: 20px 25px 39px 19px;
    width: 80%;
    display: inline-block;
  }
}